.App {
  text-align: center;
}

.input{
  margin-top: 20px;
  margin-left: 560px;
  width: 400px;
  height: 30px;
  text-align: center;
  border: solid black;
}

.image{
  width: 400px;
  height:400px;
}

.tabledata{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

table,th,td{
  border: 2px solid black;
  text-align:center;
}

.custom-modal-style {
  min-width: 500px;
  min-height: 400px;
  }
  

@media (prefers-reduced-motion: 600px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
